[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Infrared plugin for running post deployment verifications against a TripleO environment
[access "refs/*"]
	owner = group user/Marius Cornea (mcornea)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Marius Cornea (mcornea)
	label-Verified = -1..+1 group user/Marius Cornea (mcornea)
	push = group user/Marius Cornea (mcornea)
	read = group user/Marius Cornea (mcornea)
	rebase = group user/Marius Cornea (mcornea)
	removeReviewer = group user/Marius Cornea (mcornea)
	submit = group user/Marius Cornea (mcornea)
[access "refs/heads/*"]
	create = group user/Marius Cornea (mcornea)
	push = +force group user/Marius Cornea (mcornea)
	pushMerge = group user/Marius Cornea (mcornea)
	read = group user/Marius Cornea (mcornea)
[access "refs/tags/*"]
	push = group user/Marius Cornea (mcornea)
	push = +force group user/Marius Cornea (mcornea)
